.title {
    text-align: center;
    font-size: 40px;
    color: blueviolet;
    font-weight: bold;
    margin: 20px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    /* margin: 0px; */
    background-color: aquamarine;
}

.sec_title {
    text-align: center;
    font-size: 30px;
    color: purple;
    font-weight: bold;
    margin: 15px 15px;
}

#frame1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80px;
}
#a1item {
    flex: none;
    padding: 20px;
    width: 20%;
    text-align: center;
    /* height: 100px;
    background-color: azure; */
}
#a2item {
    flex: none;
    padding: 20px;
    width: 20%;
    text-align: center;
    /* height: 100px;
    background-color: rgb(33, 44, 44); */
}
#a3item {
    flex: none;
    padding: 20px;
    width: 20%;
    text-align: center;
    /* height: 100px;
    background-color: azure; */
}

#frame2 {
    /* justify-content: center; */
}
#b1item {
    /* flex: none; */
    /* align-items: flex-start; */
    padding: 20px;
    text-align: center;
}
#b2item {
    /* flex: none; */
    /* align-items: center; */
    padding: 20px;
    text-align: center;
}
#b3item {
    /* flex: none; */
    /* align-items: flex-end; */
    padding: 20px;
    text-align: center;
}

.hi_frame2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}
.hi_frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: bisque;
    width: 80%;
}
.hi {
    font-size: 33px;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}